.btn-purple {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(126 34 206);
  --bs-btn-border-color: rgb(126 34 206);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(107 33 168);
  --bs-btn-hover-border-color: rgb(88 28 135);
  --bs-btn-focus-shadow-rgb: 246, 122, 88;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(88 28 135);
  --bs-btn-active-border-color: rgb(59 7 100);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(126 34 206);
  --bs-btn-disabled-border-color: rgb(126 34 206);
}

.bg-purple {
  --bs-bg-opacity: 1;
  background-color: rgba(126, 34, 206, var(--bs-bg-opacity)) !important;
}

.text-decoration-0 {
  text-decoration: none;
}

.profile-picture {
  width: 30px;
  aspect-ratio: 1/1;
}

.color-gray-800 {
  color: var(--bs-gray-800);
}

.dropdown-item.has-icon svg {
  margin-top: -2px;
  text-align: center;
}

.btn svg {
  margin-top: -4px;
}

.dropdown-menu .dropdown-title {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #191d21 !important;
  padding: 10px 20px;
  line-height: 20px;
  color: #98a6ad;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-progress {
  cursor: progress;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 999; /* Ensure the backdrop is above other content */
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hover-items:hover {
  cursor: pointer;
}
